<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.goviami.bullseye" >

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_orange"
        android:label="@string/app_name"
        android:theme="@style/theme" >
        <activity
            android:name="com.goviami.bullseye.activity.TermsActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <activity
            android:name="com.goviami.bullseye.activity.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/OrangeTheme"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.goviami.bullseye.activity.UserProfileActivity"
            android:label="@string/title_activity_user_profile"
            android:theme="@style/OrangeTheme"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <!-- Declare the bundled CropImage Activity -->
        <activity
            android:name="com.android.camera.CropImage"
            android:label="@string/title_activity_crop_image"
            android:theme="@style/OrangeTheme" >
        </activity>
        <activity
            android:name="com.goviami.bullseye.activity.ManageLauncherActivity"
            android:theme="@style/OrangeTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.goviami.bullseye.LandingActivity"
            android:label="@string/title_activity_landing" >
        </activity>

        <service
            android:name="com.goviami.bullseye.service.DartBackgroundService"
            android:theme="@style/OrangeTheme" >
        </service>
    </application>

</manifest>
